
.App2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 24px;
  
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

  }
  
  .card {
    width: 150px;
    font-size: 10px;
    color: black;
  
    position: absolute;
    z-index: 100;
  
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .link-with-preview {
    position: relative;
  }
  
  .card img {
    width: 150px;
  }
  
  .card-title {
    font-size: 14px;
  }
  