.NavBar .MobileNavigation {
display:none;
}

@media (max-width: 990px) {
    .NavBar .Navigation{
    display:none;}


.NavBar .MobileNavigation {
    display: flex;
    align-items: center;
    background: white;
    color: #f7cfcc;
    font-size: 32px;
}


.NavBar nav  {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 250px;
    width: 250px;
    background: #e7695b;
    border-radius: 0px 30px 30px 0px;
    object-position: left;

}
.NavBar nav ul li {
    /* padding-left: 15%; */
}
.hamburger {
  color: #022969;

}

}

